:root{
    --bg-prymary: #131313;
    --bg-secondary: #6d6d6d;
    --bg-light: #970005;

    --text-primary: #ffffff;
    --text-muted: #e30613;

    --font-titles: 'Electrolize', sans-serif;
    --font-body: 'Inter', sans-serif;
    --font-nav: 'Grape Nuts', cursive;

  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--bg-prymary);
    color: var(--text-primary);
    font-family: var(--font-body);
}

