header{
    background-color: var(--bg-secondary);
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-nav);
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem .5rem;
    width: 100%;

    a{
        text-decoration: none;
        text-transform: uppercase;
        color: var(--text-primary);
        padding: 0 .4rem;
        font-size: var(--font-size-l);
    }
}